saved_model/000204.hdf5
saved_model_transfer/000001.hdf5
saved_model_transfer/000002.hdf5
saved_model_transfer/000003.hdf5
saved_model_transfer/000004.hdf5
saved_model_transfer/000005.hdf5
saved_model_transfer/000006.hdf5
saved_model_transfer/000007.hdf5
saved_model_transfer/000008.hdf5
saved_model_transfer/000009.hdf5
saved_model_transfer/000010.hdf5
saved_model_transfer/000011.hdf5
saved_model_transfer/000012.hdf5
saved_model_transfer/000013.hdf5
saved_model_transfer/000014.hdf5
saved_model_transfer/000015.hdf5
saved_model_transfer/000016.hdf5
saved_model_transfer/000017.hdf5
saved_model_transfer/000018.hdf5
saved_model_transfer/000019.hdf5
saved_model_transfer/000020.hdf5
saved_model_transfer/000021.hdf5
saved_model_transfer/000022.hdf5
saved_model_transfer/000023.hdf5
saved_model_transfer/000025.hdf5
saved_model_transfer/000026.hdf5
saved_model_transfer/000027.hdf5
saved_model_transfer/000028.hdf5
saved_model_transfer/000029.hdf5
saved_model_transfer/000032.hdf5
saved_model_transfer/000033.hdf5
saved_model_transfer/000035.hdf5
saved_model_transfer/000036.hdf5
saved_model_transfer/000037.hdf5
saved_model_transfer/000039.hdf5
saved_model_transfer/000040.hdf5
saved_model_transfer/000043.hdf5
saved_model_transfer/000044.hdf5
saved_model_transfer/000045.hdf5
saved_model_transfer/000046.hdf5
saved_model_transfer/000049.hdf5
saved_model_transfer/000050.hdf5
saved_model_transfer/000051.hdf5
saved_model_transfer/000054.hdf5
saved_model_transfer/000073.hdf5
saved_model_transfer/000088.hdf5
saved_model_transfer/000111.hdf5
saved_model_transfer/000112.hdf5
saved_model_transfer/final_epoch.h5
saved_model_transfer/losscurve.png
unfreeze_xception_transfer/000001.h5
unfreeze_xception_transfer/000002.h5
unfreeze_xception_transfer/000004.h5
unfreeze_xception_transfer/000005.h5
unfreeze_xception_transfer/000006.h5
unfreeze_xception_transfer/000007.h5
unfreeze_xception_transfer/000018.h5
xception_transfer_os16/000001.h5
xception_transfer_os16/000002.h5
xception_transfer_os16/000003.h5
xception_transfer_os16/000004.h5
xception_transfer_os16/000005.h5
xception_transfer_os16/000006.h5
xception_transfer_os16/000007.h5
xception_transfer_os16/000008.h5
xception_transfer_os16/000009.h5
xception_transfer_os16/000010.h5
xception_transfer_os16/000011.h5
xception_transfer_os16/000012.h5
xception_transfer_os16/000013.h5
xception_transfer_os16/000014.h5
xception_transfer_os16/000015.h5
xception_transfer_os16/000017.h5
xception_transfer_os16/000018.h5
xception_transfer_os16/000019.h5
xception_transfer_os16/000020.h5
xception_transfer_os16/000021.h5
xception_transfer_os16/000022.h5
xception_transfer_os16/000024.h5
xception_transfer_os16/000025.h5
xception_transfer_os16/000027.h5
xception_transfer_os16/000028.h5
xception_transfer_os16/000031.h5
xception_transfer_os16/000032.h5
xception_transfer_os16/000036.h5
test2.h5
xception_transfer_os16/
resnet50_transfer_os16/
unfreeze_xception_transfer/
xception_transfer_os16_old/
.ipynb_checkpoints/
src/__pycache__/
